Source: linux
Section: utils
Priority: optional
Maintainer: Ali Riza KESKIN <parduscix@yandex.ru>
Build-Depends: make, dwarves, flex, libssl-dev, bison, bc, zstd, libelf-dev, libncurses-dev
Standards-Version: 4.3.0
Homepage: https://example.org

Package: linux
Architecture: amd64
Depends: ${misc:Depends}, libc6
Replaces: linux-libc-dev 
Description: The linux kernel
 linux kernel for debian gnu/linux
